# node dependencies
node_modules
package-lock.json
.env

# mac dir metadata
.DS_Store

# local only
local
public/external_webpage.html

# admin
bin/wordsearch-ssh

# dreamhost
app.js
.htaccess
tmp

# jsdoc
out

