/**
 * Owen Gallagher
 * 2021-11-28
 */

body {
	/* set root font size relative to default */
	font-size: 100%;
}

.wordsearch {
	font-family: monospace;
	font-size: 2.25rem;
}

.ws-row {
}

.ws-cell {
	color: black;
	text-align: center;
	font-weight: bold;
	
	padding: 2px 16px;
	/*margin: 2px 2px;*/
	
	background-color: white;
	
	cursor: pointer;
	
	/*
	border-style: solid;
	border-color: black;
	border-width: 1px 1px 1px 1px;*/
}
.ws-cell:hover {
	background-color: gray;
}
.ws-cell[data-found="true"] {
	color: white;
	background-color: black;
}
.ws-cell[data-on="true"] {
	color: white;
	background-color: navy;
}

.ws-answer {
	color: black;
	font-size: 1.5rem;
	margin-left: 16px;
}

.ws-clue {
}

.ws-word {
	font-weight: bold;
	color: navy;
}
.ws-word[data-found="false"] {
	display: none;
}

/**
 * printer friendly styles
 */
.wordsearch.printable {
	
}
.printable .ws-cell, .printable .ws-cell:hover {
	color: black;
	border-color: black;
	border-width: 2px;
	border-style: solid;
	background-color: white;
}

/**
 * prevent button icons from consuming click events
 */
button > svg {
	pointer-events: none;
}
