/**
 * Owen Gallagher
 * 2021-11-28
 * 
 * TODO qualify all styles as being within .wordsearch-component container.
 */

body {
	/* set root font size relative to default */
	font-size: 100%;
}

.wordsearch {
	font-family: monospace;
}
.wordsearch ::selection {
	background-color: transparent;
}

.wordsearch-component-error {
	color: red;
}

.ws-row {
}

.ws-cell {
	font-size: 2.25rem;
	color: black;
	text-align: center;
	font-weight: bold;
	
	/* width of cell equals width of widest letter */
	width: 1em;
	
	padding: 0px;
	padding-left: 16px;
	padding-right: 16px;
	
	background-color: white;
	
	cursor: pointer;
}
.ws-cell:hover {
	background-color: gray;
}
.ws-cell[data-found="true"] {
	color: white;
	background-color: black;
}
.ws-cell[data-on="true"] {
	color: white;
	background-color: navy;
}

.ws-answer {
	color: black;
	font-size: 1.5rem;
	margin-left: 16px;
}

.ws-clue {
}

.ws-word {
	font-weight: bold;
	color: navy;
}
.ws-word[data-found="false"] {
	display: none;
}

.language-option:hover {
	background-color: white;
}
.language-option .alphabet-key {
	color: white;
	pointer-events: none;
}
.language-option:hover .alphabet-key {
	color: black;
}
.language-option .alphabet-aliases {
	color: gray;
	pointer-events: none;
}

.charset-option:hover {
	background-color: white;
}
.charset-option .charset-name {
	color: white;
	pointer-events: none;
}
.charset-option:hover .charset-name {
	color: black;
}
.charset-option .charset-description {
	color: gray;
	pointer-events: none;
}

.prob-dist-option:hover {
	background-color: white;
}
.prob-dist-option .prob-dist-name {
	color: white;
	pointer-events: none;
}
.prob-dist-option:hover .prob-dist-name {
	color: black;
}
.prob-dist-option .prob-dist-description {
	color: gray;
	pointer-events: none;
}

/**
 * edit mode styles
 */
.edit-only {
	display: none;
}
.edit-only.editing {
	display: block;
}

.wordsearch-config.editing {
	display: none;
}

.editing .ws-cell {
	color: black;
	background-color: white;
}
.editing .ws-cell:hover {
	background-color: gray;
}
.editing .ws-cell[data-word-idx] {
	color: white;
	background-color: black;
}
.editing .ws-cell[data-on="true"] {
	color: white;
	background-color: navy;
}

/**
 * printer friendly styles
 */

.printscreen-only {
	display: none;
}
.printscreen-only.printable {
	display: block;
}

.wordsearch.printable {
	
}

.printable .ws-cell, 
.printable .ws-cell:hover {
	color: black;
	border-color: black;
	border-width: 2px;
	border-style: solid;
	background-color: white;
}

.ws-word.printable {
	display: none;
}

.wordsearch-config.printable {
	display: none;
}

#answers-header {
	visibility: visible;
}
#answers-header.printable {
	visibility: hidden;
}

@media print {
	/*
	hide printscreen-only in page
	*/
	.printscreen-only, .printscreen-only.printable {
		display: none;
	}
	
	/*
	ensure wordsearch fits in 8.5 x 11 in page
	*/
	.ws-cell, 
	.printable .ws-cell {
		font-size: 1.2rem;
		
		padding: 0px;
		padding-left: 8px;
		padding-right: 8px;
	
		background-color: white;
	
		cursor: pointer;
		
		border-width: 1px;
	}
	
	.answers,
	.ws-answer {
		font-size: 14px;
	}
}

/**
 * prevent button icons from consuming click events
 */
button > svg {
	pointer-events: none;
}
